<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <%= link_to root_path, class: 'navbar-brand', aria: { current: 'page' } do %>
      <%= image_tag('logo.svg', height: 24, class: 'd-inline-block align-text-top') %>
      <%= t('navigation.brand') %>
    <% end %>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to t('navigation.doctors'), doctors_path, class: 'nav-link' %>
        </li>
      </ul>

      <ul class="navbar-nav ml-md-auto mb-2 mb-lg-0">
        <% if current_patient || current_doctor %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= "#{t('navigation.patient')} #{current_patient.last_name}" if current_patient %>
              <%= "#{t('navigation.doctor')} #{current_doctor.last_name}" if current_doctor %>

            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow-none" aria-labelledby="navbarDropdown">
              <li><%= link_to t('navigation.profile'),
                              current_patient ? patient_path(current_patient)
                                : doctor_path(current_doctor),
                              class: 'dropdown-item' %></li>
              <li><%= link_to t('navigation.appointments'),
                              current_patient ? patient_appointments_path(current_patient)
                                : doctor_appointments_path(current_doctor),
                              class: 'dropdown-item' %></li>
            </ul>
          </li>

          <li class="nav-item">
            <%= link_to current_patient ? destroy_patient_session_path : destroy_doctor_session_path,
                        method: :delete, class: 'nav-link' do %>
              <span class="oi oi-account-logout"></span> <%= t('navigation.logout') %>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to t('navigation.sign_up'), new_patient_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="oi oi-account-login"></span> <%= t('navigation.login') %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow-none" aria-labelledby="navbarDropdown">
              <li><%= link_to t('navigation.for_patients'), new_patient_session_path, class: 'dropdown-item' %></li>
              <li><%= link_to t('navigation.for_doctors'), new_doctor_session_path, class: 'dropdown-item' %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>