<div class="row">
  <div class="col-md-4 offset-md-2">
    <%= image_tag url_for(@patient.photo), width: 350, class: 'img-thumbnail' %>
  </div>
  <div class="col-md-6">
    <h3><%= @patient.full_name %></h3>
    <p>
      <span class="fw-bold"><%= t('activerecord.attributes.patient.birth_date') %>:</span>
      <% if @patient.birth_date %>
        <%= l @patient.birth_date, format: :long %> (<%= @patient.age %>)
      <% else %>
        <span class="text-muted"><%= t('profile.unspecified') %></span>
      <% end %>
    </p>
    <p>
      <span class="fw-bold"><%= t('activerecord.attributes.patient.gender') %>:</span>
      <% if @patient.gender %>
        <span><%= t("gender.#{@patient.gender}") %></span>
      <% else %>
        <span class="text-muted"><%= t('profile.unspecified') %></span>
    <% end %>
    </p>

    <%= link_to t('profile.edit'), edit_patient_path, class: 'btn btn-outline-primary', role: 'button' %>
  </div>
</div>