<tr>
  <th><%= link_to appointment.id, doctor_appointment_path(appointment.doctor, appointment), class: 'link-primary' %></th>
  <td><%= link_to appointment.doctor.full_name, doctor_path(appointment.doctor), class: 'link-primary text-decoration-none' %></td>
  <td><%= link_to appointment.patient.full_name, patient_path(appointment.patient), class: 'link-primary text-decoration-none' %></td>
  <td><%= datetime(appointment) %></td>
  <td><%= pill_with_status(appointment) %></td>
</tr>