<%= content_for :title, t('.all_appointments') %>

<div class="mx-5">
  <h2>
    <%= t('.all_appointments') %>
    <% if current_patient %>
      <%= t('.patients') %>
      <%= link_to current_patient.full_name, patient_path(current_patient), class: 'link-primary text-decoration-none' %>
      <% if @doctor %>
        <%= t('.from_doctor') %>
        <%= link_to @doctor.full_name, doctor_path(@doctor), class: 'link-primary text-decoration-none' %>
      <% end %>
    <% elsif current_doctor %>
      <%= t('.doctors') %>
      <%= link_to current_doctor.full_name, doctor_path(current_doctor), class: 'link-primary text-decoration-none' %>
      <% if @patient %>
        <%= t('.from_patient') %>
        <%= link_to @patient.full_name, patient_path(@patient), class: 'link-primary text-decoration-none' %>
      <% end %>
    <% end %>
  </h2>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t('activerecord.attributes.appointment.doctor') %></th>
      <th scope="col"><%= t('activerecord.attributes.appointment.patient') %></th>
      <th scope="col"><%= t('activerecord.attributes.appointment.datetime') %></th>
      <th scope="col"><%= t('activerecord.attributes.appointment.active') %></th>
      <th scope=""></th>
    </tr>
    </thead>
    <%= render @appointments %>
  </table>

  <div class="d-flex justify-content-center">
    <%= paginate @appointments %>
  </div>
</div>